<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %> <% if (categories) { %> <%-
    include("./partials/categoryGrid.ejs", { categories }) %> <% } else if
    (items) { %> <%- include("./partials/itemGrid.ejs", { items }) %> <% } else
    { %> <%- include("./partials/mainSection.ejs") %> <% } %> <%-
    include("partials/footer") %>

    <script>
      function toggleTheme() {
        document.body.classList.toggle("dark");
        localStorage.setItem(
          "theme",
          document.body.classList.contains("dark") ? "dark" : "light"
        );
      }

      window.addEventListener("DOMContentLoaded", () => {
        if (localStorage.getItem("theme") === "dark") {
          document.body.classList.add("dark");
        }
      });
    </script>
  </body>
</html>
